*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E94B3CFF;
    display: flex;
    justify-content: center;
}

nav {
    width: 100vw;
    height: 13vh;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #E94B3CFF;;
    z-index: 1;
    border-bottom: 2px solid white;
}

.tools {
    position: absolute;
    width: 20vw;
    height: 4vh;
    background-color: teal;
    top: 4.5vh;
    border-radius: 2vw;
    background: transparent;
    border: 0.35vh solid white;
    display: flex;
    align-items: center;
}

.tool-description {
    position: relative;
    color: white;
    top: 11vh;
}

.yeet {
    display: none;
    position: relative;
    color: white;
    top: 11vh;
}

.hover:hover ~ .yeet {
    display: block;
}

.section {
    width: 10%;
    height: 75%;
    display: inline-block;
    margin-left: 1.5vw;
}

.add_field {
    width: 100%;
    height: 100%;
    filter: invert(1);
    cursor: pointer;
}

.add_infobox {
    width: 100%;
    height: 105%;
    cursor: pointer;
}

.add_subheader {
    width: 100%;
    height: 130%;
    filter: invert(1);
    cursor: pointer;
}

.add_image {
    width: 100%;
    height: 100%;
    filter: invert(1);
    cursor: pointer;
}

.image {
    color: white;
}

.infobox {
    position: absolute;
    width: 20vw;
    height: 80vh;
    background-color:rgb(80, 13, 7);
    right: 0;
}

.infobox-title {
    background-color: white;
    text-align: center;
    display: table-cell;
    height: 5vh;
}

.title-info {
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label-img {
    background-color: white;
    display: flex;
    font-size: 1.25em;
    cursor: pointer;
    color: darkgray;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    position: absolute;
}

.inputfile + label * {
    pointer-events: none;
}

.create-wiki {
    position: fixed;
    width: 5vw;
    height: 4.5vh;
    right: 0;
    top: 0;
    margin-top: 4.5vh;
    margin-right: 12.5vw;
    border-radius: 2vw;
    color: white;
    background: transparent;
    cursor: pointer;
    border: 0.35vh solid white;
    z-index: 2;
    outline: none;
    transition: 0.2s;
}
.deleteIcon{
    width: 1.5vw;
}

.create-wiki:hover {
    background-color: white;
    color: black;
    border: 0.35vh solid white;
}

.cancel {
    position: absolute;
    width: 5vw;
    height: 4.5vh;
    right: 0;
    margin-top: 4.5vh;
    margin-right: 5vw;
    border-radius: 2vw;
    color: white;
    background: transparent;
    cursor: pointer;
    border: 0.35vh solid white;
    outline: none;
    transition: 0.2s;
}

.cancel:hover {
    background-color: white;
    color: black;
    border: 0.35vh solid white;
}

.container{
    background-color: rgb(180, 51, 39);
    position: absolute;
    min-height: 110.5vh;
    width: 90vw;
    top: 15vh;
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: darkgray;
}

.heading {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 2vw;
    height: 10vh;
    font-size: 3vw;
    background: transparent;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5vh solid white;
    outline: none;
    margin-bottom: 3vh;
    color: white;
}

.subheading {
    width: 50%;
    height: 5vh;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 2vw;
    font-size: 1.5vw;
    background: transparent;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2vh solid white;
    outline: none;
    margin-bottom: 3vh;
}

.paragraph {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 2vw;
    background: transparent;
    color: white;
    border: 0.2vh solid white;
    outline: none;
    font-size: 1.15vw;
}

.info {
    display: inline-block;
    padding-left: 0vw;
    background: transparent;
    color: white;
    border: 0.2vh solid white;
    outline: none;
    font-size: 1.15vw;
    position: absolute;
    top: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}