*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E94B3CFF;
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.marvel{
    position: absolute;
    width: 20%;
    top: 33vh;
    -webkit-user-drag: none;
}
.search input[type=text]{
    position: absolute;
    left: 27.5vw;
    top: 45vh;
    width: 45vw;
    height: 7.5vh;
    background-color: rgb(180, 51, 39);
    font-size: 1.75vw;
    padding-left: 1vw;
    border: none;
    outline: none;
    border-radius: 0.375vw;
}
input{
    color: rgb(230, 230, 230);
}
::placeholder{
    color: rgb(80, 13, 7);
}
.fa-search{
    position: absolute;
    left: 70.5vw;
    top: 47vh;
    font-size: 1.75vw;
    color:  rgb(80, 13, 7);
    transition: color 0.7s;
}
.fa-search:hover, .fa-searchtop:hover{
    color: white;
}
.logga{
    position:absolute;
    width:10%;
    top:3vh;
    left:1vw;
}
.searchtop input[type=text]{
    position: absolute;
    left: 34vw;
    top: 2.5vh;
    width: 25vw;
    height: 6vh;
    background-color: rgb(180, 51, 39);
    font-size: 1.75vw;
    padding-left: 1vw;
    border: none;
    outline: none;
    border-radius: 0.375vw;
}
.searchtop2 input[type=text]{
    position: absolute;
    left: 34vw;
    top: 2.5vh;
    width: 26vw;
    height: 6vh;
    background-color: rgb(180, 51, 39);
    font-size: 1.75vw;
    padding-left: 1vw;
    border: none;
    outline: none;
    border-radius: 0.375vw;
}
.page{
    position: absolute;
    left: 57.7vw;
    top: 3.75vh;
    font-size: 1.75vw;
    color:  rgb(80, 13, 7);
    transition: color 0.7s;
}
.container{
    background-color: rgb(180, 51, 39);
    position: absolute;
    height:110.5vh;
    width:89.9vw;
    top:15vh;
}
.fakeContainer{
    background-color: rgb(180, 51, 39);
    position: absolute;
    height:110.5vh;
    width:89.9vw;
    top:15vh;
    z-index: 0;
}
.pagetitle{
    position: absolute;
    left:2vw;
    top:1vh;
    font-size:3vw;
    color:white;
}
.line{
    position: absolute;
    background-color: white;
    height:0.5vh;
    width:89.9vw;
    top:10vh;
}
.line2{
    position: absolute;
    background-color: white;
    height:0.5vh;
    width:89.8vw;
    top:10vh;
    left:-0.01vw;
}
.fact{
    position: absolute;
    height:100vh;
    width:19.9vw;
    top:10.6vh;
    left:70vw;
    background-color:rgb(80, 13, 7);
}
.ironman{
    position:absolute;
    height:60vh;
    top:10vh;
    left:4vw;
}
.textbackground{
    position: absolute;
    height:5vh;
    width:19.9vw;
    background-color:white;
    top:-0.1vh;
}
.facttext{
    position: absolute;
    font-size:2vw;
    left:7vw;
    top:-0.4vh;
}
.name{
    position: absolute;
    color:white;
    top:75vh;
    left:1vw;
    font-size:1vw;
}
.stark{
    position: absolute;
    color:white;
    top:75vh;
    left:9vw;
    font-size:1vw;
}
.rubrik{
    position: absolute;
    top:3vh;
    color:black;
}
.posttitle{
    position: absolute;
    top:12vh;
}
.pagetext{
    position: absolute;
    top:18vh;
}
.facttext2{
    position: absolute;
    left:70vw;
    top:10.5vh;
}
.editpagetitle{
    color:black;
}
.editposttitle{
    color:black;
}
.editptext{
    color:black;
}
.button{
    position: absolute;
    top:11vh;
    left:63vw;
}
.btn{
    color:black;
}
.jsbutton{
    position: absolute;
    top:30vh;
}
#response{
    position: absolute;
    top:33vh;
}
.postID{
    position: absolute;
    top:24vh;
}
.fa-bars{
    position: absolute;
    left: 2vw;
    top: 4.5vh;
    font-size: 2vw;
    color: white;
}
.fa-bars:hover{
    cursor: pointer
}
.menu{
    position: absolute;
    width: 30vw;
    height: 125.5vh;
    background-color: #1b1b1b;
    z-index: 1;
    left: -30vw;
    text-align: center;
}
.header{
    height: 15vh;
    width: 30vw;
    background-color: #292929;
}
.image{
    position: relative;
    top: 3.5vh;
    width: 12.5vw;
    filter: invert(1);
    -webkit-user-drag: none;
}
#menuCross{
    color: white;
    position: absolute;
    left: 27vw;
    top: 4.5vh;
    font-size: 2vw;
}
#menuCross:hover{
    cursor: pointer;
}
.form input[type=text]{
    color: white;
    font-family: 'Marvel';
    font-size: 1.75vw;
    margin-bottom: 0.2vh;
    padding-left: 1vw;
}

.search{
    position: relative;
    top: 9vh;
    display: inline-block;
    background-color: #242424;
    border: none;
    outline: none;
    width: 22vw;
    height: 6vh;
    border-radius: 0.4vw;
}
.text{
    color: white;
    font-family: 'Marvel';
    font-size: 1.75vw;
    transition: 0.4s;
    outline: none;
    border: none;
    width: 30vw;
    left: 0;
    height: 7.5vh;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.skapa{
    position: absolute;
    top: 40vh;
    padding-right: 13.1vw;
}
.logOut{
    position: absolute;
    top: 47.5vh;
    padding-right: 17.5vw;
}
.home{
    position: absolute;
    top: 32.5vh;
    padding-right: 19.85vw;
}
.text:hover{
    background-color: #292929;
}
.new-article {
    position: absolute;
    width: 40vw;
    height: 25vh;
    background-color: #94271ec4;
    margin-top: 45vh;
    left: 27.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 2;
    border-radius: 0.375vw;
}

.h1 {
    position: absolute;
    top: 15%;
    font-size: 3.5vh;
    font-family: 'Marvel';
    color: white;
}

.article-submit {
    position: absolute;
    margin-top: 18%;
    margin-left: 50%;
    width: 5vw;
    height: 4.5vh;
    border-radius: 2vw;
    border: 0.35vh solid white;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

.cancel {
    position: absolute;
    color: white;
    margin-top: 18%;
    margin-left: 80%;
    width: 5vw;
    height: 4.5vh;
    border-radius: 2vw;
    border: 0.35vh solid white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

.article-submit:hover {
    background-color: white;
    color: black;
    border: 0.35vh solid white;
}

.cancel:hover {
    background-color: white;
    color: black;
    border: 0.35vh solid white;
}

.Title {
    position: relative;
    width: 80%;
    height: 20%;
    box-sizing: border-box;
    color: black;
    padding-left: 0.5vw;
    outline: none;
}
.form input[type=text]{
    color: white;
    font-family: 'Marvel';
    font-size: 1.75vw;
    margin-bottom: 0.2vh;
    padding-left: 1vw;
}
.search::placeholder{
    color:grey;
}