*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233,75,60);
}

::-webkit-scrollbar{
    width: 0vw;
}
.user{
    visibility: hidden;
}
.fa-bars{
    position: absolute;
    left: 2vw;
    top: 4.5vh;
    font-size: 2vw;
    color: white;
}
.menu{
    position: absolute;
    width: 30vw;
    height: 125.5vh;
    background-color: #1b1b1b;
    z-index: 1;
    left: -30vw;
    text-align: center;
}
.header{
    height: 15vh;
    width: 30vw;
    background-color: #292929;
}
.image{
    position: relative;
    top: 3.5vh;
    width: 12.5vw;
    filter: invert(1);
}
#menuCross{
    color: white;
    position: absolute;
    left: 27vw;
    top: 4.5vh;
    font-size: 2vw;
}
.form input[type=text]{
    color: white;
    font-family: 'Marvel';
    font-size: 1.75vw;
    margin-bottom: 0.2vh;
    padding-left: 1vw;
}

.search{
    position: relative;
    top: 9vh;
    display: inline-block;
    background-color: #242424;
    border: none;
    outline: none;
    width: 22vw;
    height: 6vh;
    border-radius: 0.4vw;
}
.text{
    color: white;
    font-family: 'Marvel';
    font-size: 1.75vw;
    transition: 0.4s;
    outline: none;
    border: none;
    width: 30vw;
    left: 0;
    height: 7.5vh;
    background-color: rgba(0,0,0,0);
}
.skapa{
    position: absolute;
    top: 40vh;
    padding-right: 13.1vw;
}
.logOut{
    position: absolute;
    top: 47.5vh;
    padding-right: 17.5vw;
}
.home{
    position: absolute;
    top: 32.5vh;
    padding-right: 19.85vw;
}
.text:hover{
    background-color: #292929;
}
/*
.line{
    position: relative;
    display: inline-block;
    top: 17vh;
    width: 20vw;
    height: 0.4vh;
    background-color: white;
}
*/
.container{
    background-color: rgb(180, 51, 39);
    position: absolute;
    min-height: 110.5vh;
    width: 90vw;
    top: 15vh;
    left: 5vw;
}
.pageTitle{
    position: absolute;
    left: 7vw;
    top: 17.5vh;
    width: 40vw;
    color: white;
    font-family: 'Marvel';
    font-size: 3vw;
    font-weight: 900;
}
.cokeline{
    position: absolute; 
    width: 90vw;
    height: 0.75vh;
    left: -2vw;
    background-color: white;
    margin-top: 1vh;
}
.postTitle{
    position: relative;
    width: 40vw;
    left: 2vw;
    color: white;
    font-family: 'Marvel';
    font-size: 2vw;
    font-weight: 600;
    margin-top: 4vh;
}
.delete{
    position: relative;
    text-decoration: none;
    margin-left: 0.7vw;
    top: 0.2vh;
    font-size: 1.6vw;
    color: white;
    transition: color, 0.25s;
}
.delete:hover{
    color: rgb(233,75,60);
}
.pText{
    position: relative;
    color: white;
    left: 2vw;
    font-family: 'Marvel';
    font-size: 1.5vw;
    width: 60vw;
    margin-top: 1vh;
}
.postDate{
    position: relative;
    margin-top: 1vh;
    left: 2vw;
    font-size: 1.25vw;
}
.bababoi{
    position: relative;
    left: 2vw;
    outline: none;
    border: none;
    width: 7vw;
    height: 5vh;
    font-family: 'Marvel';
    font-size: 1.25vw;
    border-radius: 0.25vw;
    color: white;
    background-color: rgb(202, 64, 52);
    transition: background-color, 0.4s;
}
.bababoi:hover{
    background-color: rgb(233,75,60);
}